.pixel {
    background: #e3e3e3;
    color: #acacac;
    border: 0px;
    margin-right: -1px;
    margin-top: -5px;
    padding: 0;
    text-align: center;
    width: 12.5%;
    min-width: 20px;
    border-radius: 0px;
    aspect-ratio: 1 / 1;

    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

