.pixel {
    background: #f0f0f0;
    border: 1px solid #d3d3d3;
    color: #acacac;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -5px;
    padding: 0;
    text-align: center;
    max-width: 34px;
    min-width: 34px;
}